<div class= "container">
	<dl>
		<h2>Backed Projects</h2>
		<% @user.pledges.each do |pledge| %>
	<div class="well well-sm">
			<dt class="h3"> Project title:
				<%= link_to pledge.reward.project.title, project_path(pledge.reward.project)%>
			</dt>
				<dd>Pledge amount:	<%= pledge.amount %></dd>
				<dd>Reward Description: <%= pledge.reward.description%></dd>

	</div>
		<% end %>
	</dl>
</div>