<div class="jumbotron">
	<h1><%= @project.title %> <small>by: <%= "#{@project.owner.first_name} #{@project.owner.last_name}"%> </small></h1>
</div>
	
<div class="project-info">
	<%= render partial: 'project_info' %>
</div>

<h3>Rewards</h3>

<div class="reward-info">
	<%= render @project.rewards %>
</div>